.new-expense-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense-control label {
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense-control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.new-expense-actions {
  text-align: left;
}
